<h1 style="text-align:center;">Before you start the game</h1>
<h1 style="text-align:center;">Please enter your name</h1>
<center>
  <%= form_tag("save_name", method: "POST") do %>
    <p><%= text_field_tag(:name) %></p>
    <h3><%= submit_tag("Play", class:"btn btn-default") %></h3>
  <% end %>
</center>
