

<h1 style="text-align:center;">Before you start the game</h1>
<h1 style="text-align:center;">Please enter your name</h1>
<br>

<form style="text-align:center;" accept-charset="UTF-8" action="play" method="post">
 <label for="q">Type your name here:</label>
 <input style="width:500px; height:100px;" id="q" name="name" type="text" />
 <input style="width:100px; height;100px; background-color" name="commit" type="submit" value="start"/>
</form>


</div>
