<!DOCTYPE html>
<html>
<head>
  <title>Hangman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <div class="footer">
<footer style="clear: both;
  background: grey;
  color: white;
  padding: 3px 3px 20px 10px;">
  <br>Made by:
  <br>
  <br>Rosiene Dilly
  <br>Chiho Liu
  <br>Fiona Selanno
</footer>



</body>
</html>
